@model CountryListViewModel
@{
    ViewData["Title"] = "Olympic Teams";
}
<div class="row">
    <div class="col-sm-3">
        <h3>Olympic Games</h3>
        <div class="list-group">
            @foreach (OlympicGame game in Model.Games)
            {
                <a asp-action="Index"
                   asp-route-activeGame="@game.GameID"
                   asp-route-activeSportType="@Model.ActiveGame"
                   class="list-group-item 
                   @Model.CheckActiveGame(game.GameID)">@game.Name</a>
            }
        </div>

        <h3>Sports</h3>
        <div class="list-group">
            @foreach (SportType sports in Model.Sports)
            {
                <a asp-action="Index"
                   asp-route-activeGame="@ViewBag.ActiveSportType"
                   asp-route-activeSportType="@sports.SportID"
                   class="list-group-item 
                   @Model.CheckActiveSportType(sports.SportID)">@sports.Name</a>
            }
        </div>
    </div>

    <div class="col-sm-9">
        <ul class="list-inline">
            @foreach (Country country in Model.CountryList)
            {
                <li class="list-inline-item">
                   <a asp-action="Details" asp-route-id="@country.CountryID">
                            <img src="~/images/@country.CountryImage" style="width: 200px; height: 150px; padding: 0.5em; border: solid 0.25px; color: red;"
                                 alt="@country.Name"
                                 title="@country.Name | @country.Game.Name | @country.Sport.Name" />
                        <input type="hidden" asp-for="@country.CountryID" />
                        <input type="hidden" asp-for="ActiveGame" />
                        <input type="hidden" asp-for="ActiveSportType" />
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
